html,
body {
  height: 100%;
  margin: 0;
  font-family: "IBM Plex Sans KR", sans-serif;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  /* 스크롤바 없애기 */
  display: none;
}


* {  /* width가 padding에 밀려 넘치치 않도록 */
  box-sizing: border-box;
}

.header {
  padding: 10px 50px;
  color: rgba(66, 66, 66);
  opacity: 0.9;
  /* background-color: rgb(249, 249, 180); */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 50;
  transform: initial;
}

.header.scrollDown {
  transform: translate(0, -160px);
}

.nav-menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding-inline-start: 0;
}

.nav-menu li {
  padding: 0 10px;
  position: relative;

}
.nav-menu li:hover {
  cursor: pointer;
  font-weight: 600;
  top: -1px;
}

a {
  text-decoration-line: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.home-section {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-right {
  width: 400px;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.blink {
  animation: blink 0.7s infinite;
  font-size: 2.5rem;
  margin: 0;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 20px 60px;
  gap: 50px;
}

.intro-item {
  position: relative;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid black;
  padding: 20px;
  width: 50%;
}

.intro-title {
  position: absolute;
  top: -1rem;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 15px;
  width: fit-content;
}

/* 지그재그 효과 */
.intro-item:nth-child(odd) {
  align-self: start;
}

.intro-item:nth-child(odd) .intro-title {
  left: 20px;
}

.intro-item:nth-child(even) {
  align-self: end;
}

.intro-item:nth-child(even) .intro-title {
  right: 20px;
}


/* 안쪽 내용 여백 조정 */
.intro-sub {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.intro-sub-wrapper {
  display: flex;
  justify-content: space-around;
}

.intro-sub-wrapper > span {
  flex: 1;
  text-align: center;
}

.tech-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-icons img {
  width: 35px;
  height: 35px;
  margin: 0 10px;
}

.project-section {
  height: 90%;
  text-align: center;
  margin-top: 150px;
}

.project-grid {
  margin: 30px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 400px;
  width: 500px;
  /* background-color: rgb(255, 255, 214); */
  border-radius: 30px;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.project-title {
  font-size: 1.3em;
  margin: 10px;
}

.footer {
  /* background-color: rgb(245, 244, 244); */
  border-top: 1px solid black;
  color: rgb(74, 74, 74);
  padding: 10px 100px;
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer-info-left p,
.footer-info-right p{
  margin: 2px 0;
}

.copyright {
  font-size: 13px;
  text-align: center;
}